<!DOCTYPE html>
<html>
<head>
    <link href="~/Hoja.css" rel="stylesheet" />
    <title>
        Maxcel Shop
    </title>
</head>
<body>
    <header>
        <h1><a href="~/Home/">Catalogo de Smartphones</a></h1>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer>
        <a>Catalogo de Smartphones - Programacion Web</a><br />
        <a>Alí Eduardo Rojas Delgado</a><br />
        <a>Angel Luis Gerardo Samaniego Hernández</a><br />
    </footer>
</body>
</html>