<!DOCTYPE html>
<html>
<head>
    <link href="~/Hoja.css" rel="stylesheet" />
    <title>
        Administrador Mexcel
    </title>
</head>
<body>
    <header>
        <h1><a href="~/Admin/Home/InicioDeSesionAdmin">Administrador</a></h1>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer>
        <a>Zona del administrador - Programacion Web</a><br />
        <a>Alí Eduardo Rojas Delgado</a><br />
        <a>Angel Luis Gerardo Samaniego Hernández</a><br />
    </footer>
</body>
</html>