@model MexcelU5.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<main>
    <a href="~/Home/IniciarSesion">
        Regresar al inicio
    </a>
    <h1>Recuperar contraña</h1>
    <p>
        Para recuperar su contraseña, Es necesario
        <br />
        El Correo que registró con nosotros.
        <br />
        Le envíaremos un correo donde se le explicará como recuperar su contraseña.
    </p>
    <form method="post" action="~/Home/RecuperarContra">
        <input type="email" name="correo" placeholder="Correo" required />
        <br />
        <input type="submit" value="Enviar correo" />
    </form>
</main>