@model MexcelU5.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<main>
    <h1>Regístrese en Mexcel</h1>
    <p>Para iniciar necesitamos tus datos personales:</p>
    <form method="post" action="~/Home/Registrar">
        <input type="text" asp-for="NombreUsuario" placeholder="Nombre" required />
        <br />
        <input type="email" asp-for="Correo" placeholder="Añada nuevo correo" required />
        <br />
        <input type="password" asp-for="Contrasena" name="contrasena" placeholder="Cree una contraseña" required />
        <br />
        <input type="password" asp-for="Contrasena" name="contrasena2" placeholder="Confirme su contraseña" required />
        @Html.ValidationSummary()
        <input type="submit" value="Comenzar" onclick="registrarUsuario()" />
        <br />
    </form>

    <p>
        ¿Ya tienes cuenta?
        <a href="~/Home/IniciarSesion">Inicia sesión</a>
    </p>
</main>